{% extends "../layout.html" %}

{% block title %} Contact App {% endblock %}


{% block body %}
    <h4 class="text-center">Contacts</h4>
    
    <div class="container">
        <div id="table-contacts-list" class="d-flex justify-content-center py-2">
            <table class="table table-hover table-striped ">
                <tr class="table-info">
                    <th class="text-center">Firstname</th>
                    <th class="text-center">Lastname</th>
                    {% if request.user.is_staff %}
                        <th class="text-center">Opciones</th>
                    {% endif %}
                </tr>
                {% for contact in page_obj %}
                <tr>
                    <td class="text-center">{{ contact.firstname }}</td>
                    <td class="text-center"><a class="btn btn-link" href="#">/{{ contact.lastname }}</a></td>
                    {% if request.user.is_staff %}
                        <td class="text-center">
                            <a class="btn" href="#"><i class="fa-regular fa-pen-to-square"></i></a>
                            {% if request.user.is_superuser %}
                                <a class="btn ms-3" href="#"><i class="fa-regular fa-trash-can"></i></a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="pagination d-flex justify-content-center mb-4">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1"><i class="fa-solid fa-backward-fast"></i></a>
                    <a class="ms-2" href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-backward"></i></a>
                {% endif %}

                <span class="current ms-2 me-2">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a class="me-2" href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-forward"></i></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fa-solid fa-forward-fast"></i></a>
                {% endif %}
            </span>
        </div>
        {% if request.user.is_staff %}
            <div class="d-grid gap-2 col-1 mx-auto">
                <a class="btn btn-warning" href="#">Add</a>
            </div>
        {% endif %}
    </div>
{% endblock %}