{% extends '../layout.html' %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center py-2">
        <form class="form-signin w-75" method="POST">{% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Register</h1>
            <input type="hidden" name="csrf_token" value="">
            {{ form|crispy }}
            <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Sign in</button>
        </form>
     </div>
{% endblock %}